<!-- a container to enhance an input by adding an icon, -->
<!-- text or a button in front or behind the input field as a "help text". -->
<div class="input-group">
    <!-- to add the help text in front of the input -->
    <span class="input-group-prepend">
      <!-- create icon button -->
      <button class="btn btn-info" type="button">
        <i class="material-icons align-middle">search</i>
      </button>
    </span>
    <!-- form-control class, have a width of 100%. -->
    <!-- form-control-lg, large size input field -->
    <input class="form-control form-control-lg" value="{{form_field.value|default_if_none:""}}" id="{{ form_field.id_for_label }}"
      data-toggle="search-bar-input"
      type="text" name="{{ form_field.html_name }}" placeholder="{{ placeholder }}">
    <!-- add help text behind the input. -->
    <span class="input-group-append">
      <button data-toggle="button-search" class="btn btn-white {% if form_field.value %}btn-warning"{% else %}btn-dark" disabled="disabled"{% endif %} type="button" data-clear-on-click="#{{ form_field.id_for_label }}">
        <i class="material-icons align-middle">clear</i>
      </button>
    </span>
  </div>
